@page "/ReceptionCertificates/Create"
@attribute [Authorize]


<div class="mx-auto max-w-screen-xl bg-transparent pt-2 md:p-5 sm:p-1">
    <div class="bg-[#2B286F] mx-auto h-32 md:m-3 sm:m-1 text-center text-sm-center md:text-md text-white">
        <h1 class="text-xl mb-2">Informacion general</h1>
        <div class="flex inline grid grid-cols-2  place-items-center">
            <div>
                <div class="flex inline mb-3">
                    <label>Fecha y Hora de Realizacion</label>
                    <input class="ml-2 rounded-lg" type="date" />
                </div>
                <div class="flex inline">
                    <label>Realizado por</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
            <div>
                <div class="flex inline">
                    <label>No Contrato</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#2B286F] mx-auto h-40 md:m-3 sm:m-1 text-center text-sm-center md:text-md text-white">
        <h1 class="text-xl mb-2">Arrendatario</h1>
        <div class="flex inline grid grid-cols-3  place-items-center">
            <div>
                <div class="flex inline mb-3">
                    <label>Nombre</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
                <div class="flex inline mb-3">
                    <label>Apellido</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
                <div class="flex inline">
                    <label>RFC</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
            <div>
                <div class="flex inline mb-3">
                    <label>Calle y Numero</label>
                    <input class="ml-2 rounded-lg" type="date" />
                </div>
                <div class="flex inline mb-3">
                    <label>Colonia</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
                <div class="flex inline">
                    <label>Apellido</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
            <div>
                <div class="flex inline mb-3">
                    <label>C.P</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
                <div class="flex inline">
                    <label>Telefono</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#2B286F] mx-auto h-40 md:m-3 sm:m-1 text-center text-sm-center md:text-md text-white">
        <h1 class="text-xl mb-2">Arrendador</h1>
        <div class="flex inline grid grid-cols-3  place-items-center">
            <div>
                <div class="flex inline mb-3">
                    <label>Nombre</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
                <div class="flex inline mb-3">
                    <label>Apellido</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
                <div class="flex inline">
                    <label>RFC</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
            <div>
                <div class="flex inline mb-3">
                    <label>Calle y Numero</label>
                    <input class="ml-2 rounded-lg" type="date" />
                </div>
                <div class="flex inline mb-3">
                    <label>Colonia</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
                <div class="flex inline">
                    <label>Apellido</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
            <div>
                <div class="flex inline mb-3">
                    <label>C.P</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
                <div class="flex inline">
                    <label>Telefono</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#2B286F] mx-auto h-44 md:m-3 sm:m-1 text-center text-sm-center md:text-md text-white">
        <h1 class="text-xl mb-2">Propiedad</h1>
        <div class="flex inline grid grid-cols-3  place-items-center">
            <div>
                <div class="flex inline mb-3">
                    <label>Calle y Numero</label>
                    <input class="ml-2 rounded-lg" type="date" />
                </div>
                <div class="flex inline mb-3">
                    <label>Colonia</label>
                    <input class="ml-2 rounded-lg " type="text" />
                </div>
                <div class="flex inline">
                    <label>Delegacion</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
            <div>
                <div class="flex inline mb-3">
                    <label>C.P</label>
                    <input class="ml-2 rounded-lg w-full" type="text" />
                </div>
                <div class="flex inline mb-3">
                    <label>Tipo de Inmueble</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
                <div class="flex inline">
                    <label>No Habitaciones</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
            <div>
                <div class="flex inline mb-3">
                    <label>Tamaño m2</label>
                    <input class="ml-2 rounded-lg" type="text" />
                </div>
            </div>
        </div>
        <button class="bg-[#2B286F] text-white mt-10 rounded-lg h-10 w-20">Siguiente</button>
    </div>
</div>