@page "/"
@attribute [Authorize]
<PageTitle>Index</PageTitle>

<body>    
    <div id="ContenedorHome" class="bg-[url('/assets/img/fondocasa.png')] imgfondo">
        <div class="flex justify-center py-6">
            <label for="" class="md:font-sans font-semibold text-4xl text-blue-900 text-center">Acta Entrega Recepción de Inmueble</label>
        </div>
        <div class="md:flex justify-around md:py-20">
            <div class="flex justify-center md:py-20">
                <button><Boton></Boton></button>  
            </div>
            <div class="flex justify-center md:py-20">
                <button><Boton></Boton></button>  
            </div>
        </div>
    </div>    
</body>

<style>
    .imgfondo {
        position: relative;
        min-height: 90.2vh;
        background-size: cover ;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
