@page "/IndexReceptionCertificates"

<body class="flex flex-column min-h-screen bg-[url('/assets/img/fondocasa.png')] imgfondo">    
    <div id="ContenedorHome" class="my-auto">    
        <div class="flex justify-center pt-12">
            <label for="" class="text-center font-sans font-semibold text-3xl lg:text-4xl text-blue-900">Acta Entrega Recepción de Inmueble</label>
        </div>
        <div class="md:flex md:justify-around md:py-20">
            <div class="scale-50 md:scale-75 lg:scale-100 flex justify-center md:py-20">
                <button @onclick="ChangeOpenModal"><ButtonLink TypeIcon="CreacionActa"></ButtonLink></button>
            </div>
            <div class="scale-50 md:scale-75 lg:scale-100 flex justify-center md:py-20">
                <ButtonLink TypeIcon="ActasExistentes"></ButtonLink>
            </div>
        </div>                
        <ModalTypeReceptionCertificates OnClick="ChangeOpenModal" ShowModal="@OpenModal"></ModalTypeReceptionCertificates>        
    </div>
</body>
<Navbar></Navbar>
<Footer></Footer>