@page "/"
@attribute [Authorize]
<PageTitle>Index</PageTitle>

<Navbar></Navbar>
<body>    
    <div id="ContenedorHome" class="bg-[url('/assets/img/fondocasa.png')] imgfondo">                
        <div class="flex justify-center py-6">
            <label for="" class="font-sans font-semibold text-4xl text-blue-900">Acta Entrega Recepción de Inmueble</label>
        </div>                    
        <div class="flex justify-around py-20">
            <div class="flex justify-center py-20">
                <ButtonLink TypeIcon="Actas"></ButtonLink>
            </div>            
            <div class="flex justify-center py-20">
                <ButtonLink TypeIcon="Historico"></ButtonLink>
            </div>
        </div>                        
    </div>    
</body>
<Footer></Footer>
