@page "/"
@attribute [Authorize]
<PageTitle>Index</PageTitle>

<body>
    <ModalTypeActa></ModalTypeActa>
</body>
<footer class="h-12 absolute bottom-0 w-screen" style="background-color: #2B286F;" ></footer>

<style>
    .logo { 
        margin: -60px; 
        margin-left:0px; 
        width: 200px; 
        height: 200px; 
    }
</style>
