@page "/"
@attribute [Authorize]
<PageTitle>Index</PageTitle>

<body >
    
    <div class="bg-[url('/assets/img/fondocasa.png')] h-screen position: relative">
        <ModalTypeActa></ModalTypeActa>
    </div>
    
</body>

<style>
    
</style>
