@page "/Inventary"
@attribute [Authorize]
<PageTitle>Inventario</PageTitle>

<body>
    <div id="ContenedorInventario" class="flex">
        <LeftListActas></LeftListActas>
        <LeftListActas></LeftListActas>
        <div id="ContenedorElementos" class="mt-32 flex">

            <div id="Componte1" class="flex">
                <div class="flex">                                   
                    <div class="mx-5">
                        <li class="py-2 flex text-blue-900">Color<input type="text" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end"></li>
                        <li class="py-2 flex text-blue-900">Material<input type="text" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end"></li>
                        <li class="py-2 flex text-blue-900">Estado General<input type="text" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end"></li>
                        <li class="py-2 flex text-blue-900">Cantidad<input type="number" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end"></li>
                        <li class="py-2 flex text-blue-900">Superficie m2<input type="number" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end"></li>
                    </div>
                    <div class="mx-5">
                        <li class="py-2 flex text-blue-900">Copiar Valores<input type="checkbox" class="border-2 w-1/4"></li>                       
                    </div> 
                </div>
            </div>

            <div id="Componente2">
                <div>
                    <label for="" class="text-center text-xl text-blue-900 font-semibold mb-2">Oberservaciones</label>
                    <input type="text" class="border-2 bg-slate-100 ml-5 w-96 h-48 flex justify-end">
                </div>
                <div class="my-8">
                    <label for="" class="text-center text-xl text-blue-900 font-semibold mb-2">Fotografias</label>
                    <input type="text" class="border-2 bg-slate-100 ml-5 w-96 h-48 flex justify-end">
                </div>
            </div>

        </div>
    </div>
    
</body>


<style>
    .imgfondo {
        position: relative;
        min-height: 90.2vh;
        background-size: cover ;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>