@page "/ReceptionCertificates/Pending"
@attribute [Authorize]
<PageTitle>Actas</PageTitle>

<body>
    <ReceptionCertificatesPedingOrHistorical TypeTableReception="Pendiente"></ReceptionCertificatesPedingOrHistorical>
</body>