@page "/ReceptionCertificates/Historical"
@attribute [Authorize]
<PageTitle>Actas</PageTitle>

<body>
    <ReceptionCertificatesPedingOrHistorical TypeTableReception="Historico"></ReceptionCertificatesPedingOrHistorical>
</body>