@page "/ReceptionCertificates/Historical"
@attribute [Authorize]

<body>
    <ReceptionCertificatesHistorical  ></ReceptionCertificatesHistorical>
</body>

<style>
    .imgfondo {
    position: relative;
    min-height: 90.2vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
</style>