@page "/ReceptionCertificates/Pending"
@attribute [Authorize]
<PageTitle>Actas</PageTitle>

<body class="pt-20 pb-12 flex flex-column min-h-screen bg-[url('/assets/img/fondocasa.png')] imgfondo">
    <div class="my-auto">
        <ReceptionCertificatesPedingOrHistorical TypeTableReception="Pendiente"></ReceptionCertificatesPedingOrHistorical>
    </div>
</body>
<Navbar></Navbar>
<Footer></Footer>