@page "/ReceptionCertificates/Pending"
@attribute [Authorize]
<PageTitle>Actas</PageTitle>

<Navbar></Navbar>
<body>
    <ReceptionCertificatesPedingOrHistorical TypeTableReception="Pendiente"></ReceptionCertificatesPedingOrHistorical>
</body>
<Footer></Footer>