@page "/ReceptionCertificates/Historical"
@attribute [Authorize]
<PageTitle>Actas</PageTitle>

<body class="flex flex-column min-h-screen bg-[url('/assets/img/fondocasa.png')] imgfondo">   
    <div class="my-auto">
        <div id="TituloActas" class="flex justify-center">
            <label for="" class="text-4xl text-blue-900 font-semibold my-8">Acta Entrega Recepción de Inmueble Histórico</label>
        </div>
        <HeaderReceptionCertificatePendingOrHistorical ChageFilters="Filter" ></HeaderReceptionCertificatePendingOrHistorical>
        <ReceptionCertificatesPedingOrHistorical ActasRecepcions="actasRecepcions" TypeTableReception="Historico"></ReceptionCertificatesPedingOrHistorical>
    </div>
</body>
<Navbar></Navbar>
<Footer></Footer>