@page "/ReceptionCertificates/Historical"
@attribute [Authorize]
<PageTitle>Actas</PageTitle>

<body class="flex flex-column min-h-screen bg-[url('/assets/img/fondocasa.png')] imgfondo">
    <div class="my-auto">
        <div id="TituloActas" class="flex justify-center">
            @if(_context.TypeHistoricalOrPending == "Historical")
            {
                <label for="" class="text-4xl text-blue-900 font-semibold my-8">Acta Entrega Recepción de Inmueble Histórico</label>
            }            
            else 
            {
                <label for="" class="text-4xl text-blue-900 font-semibold my-8">Acta Entrega Recepción de Inmueble Existentes</label>
            }
        </div>            
        <HeaderReceptionCertificatePendingOrHistorical ChageFilters="Filter"></HeaderReceptionCertificatePendingOrHistorical>
        <div class="pb-30">

            <ReceptionCertificatesPedingOrHistorical RedirectReception="@RedirectInfoGeneral" PreviewPdf="@HandlePreviewPdf" ActasRecepcions="actasRecepcions" TypeTableReception="TypeTableHistoricalOrPending"></ReceptionCertificatesPedingOrHistorical>

        </div>
        <PaginationReceptionCertificate ChangePagination="HandlePaginationAction" ChangePaginationForNumber="HandlePaginationForPage" CurrentPage="currentPage" NumberPage="rowNumberForPage" MaxNumberPages="maxNumberPage"></PaginationReceptionCertificate>
    </div>
    @if (showModalPDFPreview)
    {
        <ModalPreviewPDF CloseModalLessor="ChangeModalPDFPreview" Content="BlobPDFPreview" PdfName="PdfName" ShowModal="showModalPDFPreview"></ModalPreviewPDF>
    }
</body>
<Navbar></Navbar>
<Footer></Footer>