@page "/ReceptionCertificates/Historical"
@attribute [Authorize]
<PageTitle>Actas</PageTitle>

<body class="flex flex-column min-h-screen bg-[url('/assets/img/fondocasa.png')] imgfondo">
    <div class="my-auto">
            <ReceptionCertificatesPedingOrHistorical TypeTableReception="Historico"></ReceptionCertificatesPedingOrHistorical>        
    </div>
</body>
<Navbar></Navbar>
<Footer></Footer>