@page "/"
@inject NavigationManager Navigation

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("https://arisoft.azurewebsites.net/Identity/Account/Login?ReturnUrl=%2Fapi%2Fidentity%2Fauthorize%3Fclient_id%3Dblazor-arisoft%26redirect_uri%3Dhttps%253A%252F%252Farisoft.azurewebsites.net%252Fauthentication%252Flogin-callback%26response_type%3Dcode%26scope%3Dopenid%2520profile%2520roles%26state%3Da0bced8545e64d6788ff4a48136d0fc3%26code_challenge%3DWAbxcTcXdze8PohOV7ohbREtWa2nfQXAIbQshBOKbbU%26code_challenge_method%3DS256%26response_mode%3Dquery");
    }
}