@*@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Registrarse</a>
        <a href="authentication/login">Iniciar sesion</a>
    </NotAuthorized>
</AuthorizeView>*@
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="absolute top-16 right-0">
    <div class="bg-white h-72 w-80 -mt-2 flex flex-col border-1 border-black rounded-l-lg">
        <label for="" class="text-2xl flex justify-center my-2" style="color: #B5B4CD;">Actas Entrega Recepción</label>
        <a href="/IndexReceptionCertificates" class="flex ml-8 w-28">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 568 563">
                <g id="Grupo_336" data-name="Grupo 336" transform="translate(-262 -311)">
                    <path id="Icon_awesome-file-contract" data-name="Icon awesome-file-contract" d="M147.63,81.1V0H15.818C7.052,0,0,6.381,0,14.311V291c0,7.931,7.052,14.311,15.818,14.311H237.263c8.766,0,15.817-6.38,15.817-14.311V95.409H163.448C154.748,95.409,147.63,88.969,147.63,81.1ZM42.18,42.934a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77Zm0,38.164a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77ZM169.254,228.982h31.1c5.826,0,10.545,4.27,10.545,9.541s-4.719,9.541-10.545,9.541h-31.1c-10.842,0-20.609-5.45-25.466-14.228a7.455,7.455,0,0,0-6.7-3.888,7.361,7.361,0,0,0-6.6,3.691l-5.055,9.147a10.7,10.7,0,0,1-9.431,5.271c-.25,0-.494-.012-.751-.03A10.389,10.389,0,0,1,106,241.535L94.9,211.445l-6.993,19.01c-3.882,10.531-14.75,17.609-27.022,17.609H52.725c-5.826,0-10.545-4.27-10.545-9.541s4.719-9.541,10.545-9.541h8.166a7.364,7.364,0,0,0,7.012-4.568l11.988-32.582c2.175-5.85,8.2-9.785,15.013-9.785s12.839,3.93,15.007,9.785l9.148,24.83c13.03-9.654,35.622-5.784,43.5,8.444A7.616,7.616,0,0,0,169.254,228.982Zm79.213-166.37L183.944,4.174A16.694,16.694,0,0,0,172.74,0h-4.02V76.327h84.36V72.69A13.612,13.612,0,0,0,248.467,62.612Z" transform="translate(426.92 417.5)" fill="none" stroke="#2a6983" stroke-width="8" />
                    <path id="Trazado_76" data-name="Trazado 76" d="M0,18" transform="translate(743.5 555.5)" fill="none" stroke="#2a6983" stroke-width="8" />
                </g>
            </svg>
            <text for="" class="self-center text-2xl mb-1"><tspan>Actas</tspan></text>
        </a>
        <a href="/ReceptionCertificates/Historical" class="flex ml-8 mb-2 w-36">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 568 589.238">
                <g id="Grupo_337" data-name="Grupo 337" transform="translate(-1079 -284.762)">
                    <g id="Trazado_75" data-name="Trazado 75" transform="translate(1159 284.762)" fill="none">
                        <path d="M0,0H381V336.31H0Z" stroke="none" />
                        <path d="M 1 0.999969482421875 L 1 335.3100280761719 L 380 335.3100280761719 L 380 0.999969482421875 L 1 0.999969482421875 M 0 -3.0517578125e-05 L 381 -3.0517578125e-05 L 381 336.3100280761719 L 0 336.3100280761719 L 0 -3.0517578125e-05 Z" stroke="none" fill="rgba(0,0,0,0)" />
                    </g>
                    <path id="Icon_metro-files-empty" data-name="Icon metro-files-empty" d="M245.657,108.392a266.571,266.571,0,0,0-24.624-29.727,260.872,260.872,0,0,0-28.161-25.992C178.3,41.4,171.238,40.092,167.19,40.092H63.248c-12.46,0-22.6,10.7-22.6,23.852V283.386c0,13.152,10.136,23.852,22.6,23.852h171.73c12.459,0,22.6-10.7,22.6-23.852V135.5c0-4.273-1.235-11.732-11.918-27.109ZM208.251,92.157a256.28,256.28,0,0,1,20.5,24.262H185.267V70.52a251.241,251.241,0,0,1,22.984,21.638ZM239.5,283.386a4.713,4.713,0,0,1-4.519,4.77H63.248a4.713,4.713,0,0,1-4.519-4.77V63.944a4.713,4.713,0,0,1,4.519-4.77H167.19V125.96a9.3,9.3,0,0,0,9.038,9.541H239.5ZM156.718,14.509C142.151,3.232,135.085,1.928,131.036,1.928H27.095c-12.459,0-22.6,10.7-22.6,23.852V245.222c0,11.518,7.775,21.156,18.077,23.372V25.78a4.713,4.713,0,0,1,4.519-4.77H164.613c-2.724-2.361-5.374-4.55-7.9-6.5Z" transform="translate(1255.963 410.416)" fill="none" stroke="#2a6983" stroke-width="8" />
                    <g id="Elipse_8" data-name="Elipse 8" transform="translate(1387 579)" fill="none" stroke="#2a6983" stroke-width="8">
                        <ellipse cx="76.5" cy="72" rx="76.5" ry="72" stroke="none" />
                        <ellipse cx="76.5" cy="72" rx="72.5" ry="68" fill="none" />
                    </g>
                    <g id="Grupo_105" data-name="Grupo 105" transform="translate(821.037 -22.428)">
                        <line id="Línea_17" data-name="Línea 17" x2="32.038" y2="31.072" transform="translate(591.462 693.928)" fill="none" stroke="#2a6983" stroke-width="8" />
                        <line id="Línea_18" data-name="Línea 18" x1="74" y2="81.5" transform="translate(618.5 643.5)" fill="none" stroke="#2a6983" stroke-width="8" />
                    </g>
                </g>
            </svg>
            <text for="" class="self-center text-2xl mb-1"><tspan>Histórico</tspan></text>
        </a>
        <hr class="w-72 self-center">
        @*<form asp-controller="Identity" asp-action="Logout" method="post">*@
        <button @onclick="BeginSignOut" type="submit" class="inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 437 399">
                <g id="Grupo_335" data-name="Grupo 335" transform="translate(24613 17130)">
                    <path id="Icon_metro-exit" data-name="Icon metro-exit" d="M150.6,146.759V117.793H88.923V88.827H150.6V59.861l37.008,43.449Zm-12.336-14.483v57.932H76.587v43.449L2.571,190.209V1.928h135.7V74.344H125.931V16.411H27.243L76.587,45.377V175.726h49.344V132.276Z" transform="translate(-24489.59 -17048.293)" fill="red" stroke="#2a6983" stroke-width="8" />
                </g>
            </svg>
            <text for="" class="self-center text-2xl mb-2"><tspan>Cerrar Sesión</tspan></text>
        </button>
        @*</form>*@
    </div>
    @*<LoginDisplay></LoginDisplay>*@
</div>


@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
