@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

label {
    vertical-align: top;
    display: block;
}


.sectionWrapper {
    max-width: 1080px;
}

.section {
    padding: 2.5% 5%;
    /*margin-bottom: 28px;*/
    border-radius: 2px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132),0 .3px .9px 0 rgba(0,0,0,.108);
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132),0 .3px .9px 0 rgba(0,0,0,.108);
    position: relative;
    -webkit-transform: translate3d(0,48px,0);
    transform: translate3d(0,48px,0);
    -webkit-transition: opacity .3s cubic-bezier(.1,.9,.2,1) 50ms,-webkit-transform .3s cubic-bezier(.1,.9,.2,1);
    transition: opacity .3s cubic-bezier(.1,.9,.2,1) 50ms,-webkit-transform .3s cubic-bezier(.1,.9,.2,1);
    transition: transform .3s cubic-bezier(.1,.9,.2,1),opacity .3s cubic-bezier(.1,.9,.2,1) 50ms;
    transition: transform .3s cubic-bezier(.1,.9,.2,1),opacity .3s cubic-bezier(.1,.9,.2,1) 50ms,-webkit-transform .3s cubic-bezier(.1,.9,.2,1);
}

.textFieldDiv {
    margin: 5px 0px;
    width: 350px;
}

.form_wrapper {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

    .form_wrapper .row {
        margin: 0 -15px;
    }

        .form_wrapper .row > div {
            padding: 0 15px;
            box-sizing: border-box;
        }

    .form_wrapper .col_half {
        width: 50%;
        float: left;
    }

.form_container {
    /*border: 1px dashed #ccc;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
    box-sizing: border-box;
}

.main {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 600px) {
    .main {
        flex: 1;
        padding-left: 8px;
        padding-right: 8px;
    }

    .form_wrapper .col_half {
        width: 100%;
        float: none;
    }

    .form_wrapper label {
        margin: 10px 0;
    }
}

footer {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    background: #ccc;
    padding: 5px;
    text-align: center;
}

.ms-DetailsHeader {
    font-size: var(--fontSize-Medium) !important;
    font-weight: var(--fontWeight-Bold) !important;
    padding-top: 0 !important;
}

/* INICIO */


.botoninicio {
    width: 100%;
    height: 550px;
    text-shadow: 0px -2px #2980B9;
    border-radius: 10px;
    cursor: pointer;
}


.iconosinicio {
    font-size: 250px !important;
    color: white;
}

.tituloinicio {
    color: white !important;
}

.separacioninicio {
    margin-bottom: 15px !important;
}

.titulobienvenido {
    color: #869DBC;
    text-align: center;
    font-size: 50px;
    padding-bottom: 1%;
}

.action-button:active {
    transform: translate(0px,7px);
    -webkit-transform: translate(0px,7px);
    border-bottom: 0px solid;
}

.animate {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.blue {
    background-color: #3498DB;
    border-bottom: 14px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.red {
    background-color: #E74C3C;
    border-bottom: 14px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.green {
    background-color: #82BF56;
    border-bottom: 14px solid #669644;
    text-shadow: 0px -2px #669644;
}

.box {
    position: relative;    
}

.center {
    min-height: 100vh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}