@page "/ProjectReports"
@*@attribute [Authorize]*@
<PageTitle>Sistema COB</PageTitle>

<div id="Contenedor" class="min-h-screen bg-[url('/assets/img/imgFondo.png')] z-0 opacity-25 imgfondo fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
<div class="lg:grid lg:grid-cols-3 pt-20 pb-12 fixed inset-0  flex flex-col justify-between items-center">
    <div class="flex justify-center scaleTab scaleTabHD scaleTabFullHD">
        <a href="/ProjectOverview">
            <svg xmlns="http://www.w3.org/2000/svg" width="461" height="425" viewBox="0 0 461 425">
                <g id="Grupo_847" data-name="Grupo 847" transform="translate(0)">
                <g id="Grupo_408" data-name="Grupo 408" transform="translate(-252.107 -295.8)">
                    <g id="Rectángulo_436" data-name="Rectángulo 436" transform="translate(252.107 295.8)" fill="#51708e" stroke="#0b253e" stroke-width="1">
                        <rect width="461" height="425" rx="20" stroke="none"/>
                        <rect x="0.5" y="0.5" width="460" height="424" rx="19.5" fill="none"/>
                    </g>
                    <path id="Icon_metro-file-text" data-name="Icon metro-file-text" d="M268.855,72.192A278.958,278.958,0,0,0,241.862,41.61a280.053,280.053,0,0,0-30.87-26.74C195.024,3.27,187.278,1.928,182.84,1.928H29.268A24.683,24.683,0,0,0,4.5,26.466V291.48a24.683,24.683,0,0,0,24.77,24.538H257.149a24.683,24.683,0,0,0,24.77-24.538v-191.4c0-4.4-1.354-12.07-13.064-27.889Zm-41-16.7a268.551,268.551,0,0,1,22.472,24.96H202.656V33.231a269.173,269.173,0,0,1,25.2,22.26ZM262.1,291.48a5,5,0,0,1-4.954,4.908H29.268a5,5,0,0,1-4.954-4.908V26.466a5,5,0,0,1,4.954-4.908H182.84V90.266a9.862,9.862,0,0,0,9.908,9.815H262.1Zm-49.539-34.354H73.854a9.816,9.816,0,1,1,0-19.631h138.71a9.816,9.816,0,1,1,0,19.631Zm0-39.261H73.854a9.816,9.816,0,1,1,0-19.631h138.71a9.816,9.816,0,1,1,0,19.631Zm0-39.261H73.854a9.816,9.816,0,1,1,0-19.631h138.71a9.816,9.816,0,1,1,0,19.631Z" transform="translate(350 350)" fill="#0b253e"></path>
                    <text id="Resumen_de_Avance" data-name="Resumen de Avance" transform="translate(367.107 706.8)" fill="#efefef" font-size="25" font-family="Helvetica"><tspan x="0" y="0">Resumen de Avance</tspan></text>
                </g>
                </g>
            </svg>
        </a>
    </div>
    <div class="flex justify-center scaleTab scaleTabHD scaleTabFullHD">
        <a href="/ProjectDetails">
            <svg xmlns="http://www.w3.org/2000/svg" width="461" height="425" viewBox="0 0 461 425">
                <g id="Grupo_847" data-name="Grupo 847" transform="translate(0)">
                    <g id="Grupo_408" data-name="Grupo 408" transform="translate(-252.107 -295.8)">
                        <g id="Rectángulo_436" data-name="Rectángulo 436" transform="translate(252.107 295.8)" fill="#51708e" stroke="#0b253e" stroke-width="1">
                            <rect width="461" height="425" rx="20" stroke="none" />
                            <rect x="0.5" y="0.5" width="460" height="424" rx="19.5" fill="none" />
                        </g>
                        <path id="Icon_open-document" data-name="Icon open-document" d="M0,0V314.09H277.42V157.045H118.894V0ZM158.526,0V117.784H277.42ZM39.631,78.522H79.263v39.261H39.631Zm0,78.522H79.263v39.261H39.631Zm0,78.522H198.157v39.261H39.631Z" transform="translate(350 350)" fill="#0b253e"></path>
                        <text id="Detalle_de_Avance" data-name="Detalle de Avance" transform="translate(367.107 706.8)" fill="#efefef" font-size="25" font-family="Helvetica"><tspan x="0" y="0">Detalle de Avance</tspan></text>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <div class="flex justify-center scaleTab scaleTabHD scaleTabFullHD">
        <a href="/ProjectProgress">
            <svg xmlns="http://www.w3.org/2000/svg" width="461" height="425" viewBox="0 0 461 425">
                <g id="Grupo_847" data-name="Grupo 847" transform="translate(0)">
                    <g id="Grupo_408" data-name="Grupo 408" transform="translate(-252.107 -295.8)">
                        <g id="Rectángulo_436" data-name="Rectángulo 436" transform="translate(252.107 295.8)" fill="#51708e" stroke="#0b253e" stroke-width="1">
                            <rect width="461" height="425" rx="20" stroke="none" />
                            <rect x="0.5" y="0.5" width="460" height="424" rx="19.5" fill="none" />
                        </g>
                        <path transform="translate(290 350)" d="M376.215,242.9H48.985V12.626A12.107,12.107,0,0,0,36.865.506H12.626A12.107,12.107,0,0,0,.506,12.626V267.138a24.221,24.221,0,0,0,24.239,24.239H376.215a12.107,12.107,0,0,0,12.12-12.12V255.018a12.107,12.107,0,0,0-12.12-12.12ZM351.975,24.746H262.548A17.933,17.933,0,0,0,252.1,27.984a18.531,18.531,0,0,0-7.5,18.115,17.934,17.934,0,0,0,5.1,9.681l24.542,24.542-55.576,55.584L163.083,80.329a24.208,24.208,0,0,0-34.276,0L76.777,132.36a12.11,12.11,0,0,0,0,17.142l17.134,17.134a12.11,12.11,0,0,0,17.142,0l34.889-34.9,55.576,55.576a24.208,24.208,0,0,0,34.276,0L308.511,114.6l24.542,24.542a17.934,17.934,0,0,0,9.681,5.1,18.531,18.531,0,0,0,18.115-7.5,17.933,17.933,0,0,0,3.238-10.451V36.865a12.1,12.1,0,0,0-12.112-12.12Z" fill="#0b253e" />
                        <text id="Detalle_de_Avance" data-name="Detalle de Avance" transform="translate(377.107 706.8)" fill="#efefef" font-size="25" font-family="Helvetica"><tspan x="0" y="0">Evolucion del Proyecto</tspan></text>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <a class="fixed z-10 inset-x-1 top-20 w-12" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#55595E" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
    </a>
</div>
<Navbar></Navbar>
<Footer></Footer>

<label class="hidden lg:block fixed top-0 mx-64 left-0 right-0 text-base md:text-xl lg:text-2xl xl:text-4xl text-white leading-6 text-center py-2 mt-2">Reportes de Proyecto</label>