@page
@model RegisterModel

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<header class="position-absolute -top-20 -start-10 d-none d-md-block"
        style="width: 400px;
    height: 400px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E3F2F6;">
</header>
<body style="overflow: hidden">
    <div class="position-relative top-0 d-block d-sm-block d-md-none" style="background-image: url('~/ServerBackEnd/wwwroot/img/imagenInmuebles.jpg'); width: 100%; height: 100%;"></div>
        <div id="GlobalRegistro" class="position-relative my-10">
            <div id="RecuadrosRegistroDesktop" class="d-flex justify-content-center">

                <div id="ImagenRegistro" class="position-relative shadow-sm -ms-25 d-none d-md-block">
                    <img src="~/img/imageninmuebles.jpg" class="rounded-3" style="width: 40.55em;">
                </div>
                <div id="FormularioRegistro" class="bg-white border rounded-3 shadow-lg mt-5 position-absolute top-10 start-20 d-none d-md-block">
                    <form method="post">
                        <div class="d-flex flex-column p-5 px-6">
                            <span class="my-3 mt-4 mb-5 text-center fs-1 fw-bolder">Ingresa tus datos</span>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <span class="d-flex justify-content-center border-start border-5 border-primary rounded shadow my-2">
                                <input asp-for="Input.Name" class="text-center my-2 mx-3 ps-1 py-2" style="width: 20em; border: 0;" placeholder="Nombres" aria-required="true" />
                            </span>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                            <span class="d-flex justify-content-center border-start border-5 border-primary rounded shadow my-2">
                                <input asp-for="Input.LastName" class="text-center my-2 mx-3 ps-1 py-2" style="width: 20em; border: 0;" placeholder="Apellidos" aria-required="true" />
                            </span>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            <span class="d-flex justify-content-center border-start border-5 border-primary rounded shadow my-2 mb-5">                            
                                <input asp-for="Input.Email" class="text-center my-2 mx-3 ps-1 py-2" style="width: 20em; border: 0;" placeholder="Correo" aria-required="true" />
                            </span>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <button type="submit" class="btn btn-primary btn-lg shadow mb-2 mt-2">Crear Cuenta</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="RecuadroRegistroMobile" class="d-flex justify-content-center row w-90 d-block d-sm-block d-md-none">
                <div id="FormularioRegistroMobile" class="bg-white border rounded-3 shadow-lg mt-5 start-20 p-1" style="--bs-bg-opacity: .61;">
                    <form method="post">
                        <div class="d-flex flex-column px-4 mb-2">
                            <span class="mt-2 mb-4 text-center fs-1 fw-bolder" style="color: #6a6a6a;">Ingresa tus datos</span>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <span class="bg-white d-flex justify-content-center border-start border-5 border-primary rounded shadow my-2">
                                <input type="text" class="text-center my-2 mx-1 ps-1-" style="width: 15em; border: 0;" placeholder="Nombre">
                                <input asp-for="Input.Name" class="text-center my-2 mx-1 ps-1-" style="width: 15em; border: 0;" placeholder="Nombres" aria-required="true" />
                            </span>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                            <span class="bg-white d-flex justify-content-center border-start border-5 border-primary rounded shadow my-2">
                                <input type="text" class="text-center my-2 mx-1 ps-1-" style="width: 15em; border: 0;" placeholder="Apellido">
                                <input asp-for="Input.LastName" class="text-center my-2 mx-1 ps-1-" style="width: 15em; border: 0;" placeholder="Apellidos" aria-required="true" />
                            </span>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            <span class="bg-white d-flex justify-content-center border-start border-5 border-primary rounded shadow">                            
                                <input asp-for="Input.Email" class="text-center my-2 mx-1 ps-1-" style="width: 15em; border: 0;" placeholder="Correo" aria-required="true" />
                            </span>
                            <span asp-validation-for="Input.Email" class="text-danger my-2"></span>
                            <button type="submit" class="btn btn-primary btn-lg shadow mt-4 mb-2 ms-5 w-75">Crear Cuenta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer class="position-absolute -bottom-20 -end-10 d-none d-md-block"
                style="width: 400px;
            height: 400px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #2B286F;">
        </footer>    
     </div>
</body>

@*<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Crear un nuevo usuario local.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
