@using Microsoft.Extensions.Primitives

<div class="jumbotron">
    <p class="lead text-left">Desea cerrar la sesion?</p>

    <form asp-controller="Identity" asp-action="Logout" method="post">
        @* Flow the request parameters so they can be received by the LogoutPost action: *@
 @*       @foreach (var parameter in Context.Request.HasFormContentType ?
           (IEnumerable<KeyValuePair<string, StringValues>>) Context.Request.Form : Context.Request.Query)
        {
            <input name="@parameter.Key" value="@parameter.Value" />
        }*@

        <input class="btn btn-lg btn-success" name="Confirm" type="submit" value="Yes" />
    </form>
</div>
