<nav class="fixed top-0 h-20 w-screen" style="background-color: #162D4E;">
    <div class="container-fluid navbarBG">
        <a class="lg:block navbar-brand " href="/">
            <img src="/assets/img/logoSOF.png" class="logo w-[10%]">
        </a>
    </div>
</nav>
