@if (string.IsNullOrWhiteSpace(Title))
{
    <div class="text-white p-4 bg-warning rounded text-center" style="margin-top: 5rem">
        <strong class="font-bold">¡Advertencia!</strong>
        <p>
            <span class="block sm:inline">No se puede generar un reporte con avance totalmente terminado</span>
        </p>
    </div>
}

@code {
    [CascadingParameter] private BlazoredToast ToastInstance { get; set; } = default!;

    [Parameter] public string? Title { get; set; }
    [Parameter] public string? ToastParam { get; set; }
}
