<div id="ComponenteRecuadros" class="p-2">
    <div>
        <label for="" class="text-center text-xl text-blue-900 font-semibold mb-2">Oberservaciones</label>
        <input type="text" class="border-2 bg-slate-100 ml-5 w-96 h-48 flex justify-end">
    </div>
    <div class="my-8">
        <label for="" class="text-center text-xl text-blue-900 font-semibold mb-2">Fotografias</label>
        <input type="text" class="border-2 bg-slate-100 ml-5 w-96 h-48 flex justify-end">
    </div>
</div>