@if (TypeIcon == "Actas")
{
    <a href="/IndexReceptionCertificates">
<svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 568 563">
    <g id="Grupo_336" data-name="Grupo 336" transform="translate(-262 -311)">
        <g id="Grupo_20" data-name="Grupo 20" transform="translate(0 52)">
            <ellipse id="Elipse_3" data-name="Elipse 3" cx="284" cy="281.5" rx="284" ry="281.5" transform="translate(262 259)" fill="#e3f2f6"/>
            <text id="Actas" transform="translate(503 725)" fill="#707070" class="text-5xl" font-family="Helvetica"><tspan x="-10" y="10">Actas</tspan></text>
        </g>
        <path id="Icon_awesome-file-contract" data-name="Icon awesome-file-contract" d="M147.63,81.1V0H15.818C7.052,0,0,6.381,0,14.311V291c0,7.931,7.052,14.311,15.818,14.311H237.263c8.766,0,15.817-6.38,15.817-14.311V95.409H163.448C154.748,95.409,147.63,88.969,147.63,81.1ZM42.18,42.934a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77Zm0,38.164a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77ZM169.254,228.982h31.1c5.826,0,10.545,4.27,10.545,9.541s-4.719,9.541-10.545,9.541h-31.1c-10.842,0-20.609-5.45-25.466-14.228a7.455,7.455,0,0,0-6.7-3.888,7.361,7.361,0,0,0-6.6,3.691l-5.055,9.147a10.7,10.7,0,0,1-9.431,5.271c-.25,0-.494-.012-.751-.03A10.389,10.389,0,0,1,106,241.535L94.9,211.445l-6.993,19.01c-3.882,10.531-14.75,17.609-27.022,17.609H52.725c-5.826,0-10.545-4.27-10.545-9.541s4.719-9.541,10.545-9.541h8.166a7.364,7.364,0,0,0,7.012-4.568l11.988-32.582c2.175-5.85,8.2-9.785,15.013-9.785s12.839,3.93,15.007,9.785l9.148,24.83c13.03-9.654,35.622-5.784,43.5,8.444A7.616,7.616,0,0,0,169.254,228.982Zm79.213-166.37L183.944,4.174A16.694,16.694,0,0,0,172.74,0h-4.02V76.327h84.36V72.69A13.612,13.612,0,0,0,248.467,62.612Z" transform="translate(426.92 417.5)" fill="none" stroke="#2a6983" stroke-width="8"/>
        <path id="Trazado_76" data-name="Trazado 76" d="M0,18" transform="translate(743.5 555.5)" fill="none" stroke="#2a6983" stroke-width="8"/>
        <ellipse id="Elipse_13" data-name="Elipse 13" cx="29.5" cy="12.5" rx="29.5" ry="12.5" transform="translate(685 565)" fill="#e3f2f6"/>
    </g>
</svg>
    </a>
}
@if (TypeIcon == "Historico")
{
    <a href="/ReceptionCertificates/Historical">
    <svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 568 589.238">
    <g id="Grupo_337" data-name="Grupo 337" transform="translate(-1079 -284.762)">
        <g id="Grupo_21" data-name="Grupo 21" transform="translate(-11 52)">
            <ellipse id="Elipse_4" data-name="Elipse 4" cx="284" cy="281.5" rx="284" ry="281.5" transform="translate(1090 259)" fill="#e3f2f6"/>
            <text id="Histórico" transform="translate(1304 725)" fill="#707070" class="text-5xl" font-family="Helvetica"><tspan x="-10" y="10">Histórico</tspan></text>
        </g>
        <g id="Trazado_75" data-name="Trazado 75" transform="translate(1159 284.762)" fill="none">
            <path d="M0,0H381V336.31H0Z" stroke="none"/>
            <path d="M 1 0.999969482421875 L 1 335.3100280761719 L 380 335.3100280761719 L 380 0.999969482421875 L 1 0.999969482421875 M 0 -3.0517578125e-05 L 381 -3.0517578125e-05 L 381 336.3100280761719 L 0 336.3100280761719 L 0 -3.0517578125e-05 Z" stroke="none" fill="rgba(0,0,0,0)"/>
        </g>
        <path id="Icon_metro-files-empty" data-name="Icon metro-files-empty" d="M245.657,108.392a266.571,266.571,0,0,0-24.624-29.727,260.872,260.872,0,0,0-28.161-25.992C178.3,41.4,171.238,40.092,167.19,40.092H63.248c-12.46,0-22.6,10.7-22.6,23.852V283.386c0,13.152,10.136,23.852,22.6,23.852h171.73c12.459,0,22.6-10.7,22.6-23.852V135.5c0-4.273-1.235-11.732-11.918-27.109ZM208.251,92.157a256.28,256.28,0,0,1,20.5,24.262H185.267V70.52a251.241,251.241,0,0,1,22.984,21.638ZM239.5,283.386a4.713,4.713,0,0,1-4.519,4.77H63.248a4.713,4.713,0,0,1-4.519-4.77V63.944a4.713,4.713,0,0,1,4.519-4.77H167.19V125.96a9.3,9.3,0,0,0,9.038,9.541H239.5ZM156.718,14.509C142.151,3.232,135.085,1.928,131.036,1.928H27.095c-12.459,0-22.6,10.7-22.6,23.852V245.222c0,11.518,7.775,21.156,18.077,23.372V25.78a4.713,4.713,0,0,1,4.519-4.77H164.613c-2.724-2.361-5.374-4.55-7.9-6.5Z" transform="translate(1255.963 410.416)" fill="none" stroke="#2a6983" stroke-width="8"/>
        <g id="Elipse_8" data-name="Elipse 8" transform="translate(1387 579)" fill="#e3f2f6" stroke="#2a6983" stroke-width="8">
            <ellipse cx="76.5" cy="72" rx="76.5" ry="72" stroke="none"/>
            <ellipse cx="76.5" cy="72" rx="72.5" ry="68" fill="none"/>
        </g>
        <g id="Grupo_105" data-name="Grupo 105" transform="translate(821.037 -22.428)">
            <line id="Línea_17" data-name="Línea 17" x2="32.038" y2="31.072" transform="translate(591.462 693.928)" fill="none" stroke="#2a6983" stroke-width="8"/>
            <line id="Línea_18" data-name="Línea 18" x1="74" y2="81.5" transform="translate(618.5 643.5)" fill="none" stroke="#2a6983" stroke-width="8"/>
        </g>
    </g>
</svg>
    </a>
}
@if (TypeIcon == "CreacionActa")
{    
    <svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 568 563">
        <g id="Grupo_334" data-name="Grupo 334" transform="translate(-262 -311)">
            <g id="Grupo_20" data-name="Grupo 20" transform="translate(0 52)">
                <ellipse id="Elipse_3" data-name="Elipse 3" cx="284" cy="281.5" rx="284" ry="281.5" transform="translate(262 259)" fill="#e3f2f6" />
                <text id="Creación" transform="translate(476 724)" fill="#707070" font-family="Helvetica" class="text-5xl"><tspan x="-20" y="10">Creacion</tspan></text>
            </g>
            <path id="Icon_awesome-file-contract" data-name="Icon awesome-file-contract" d="M147.63,81.1V0H15.818C7.052,0,0,6.381,0,14.311V291c0,7.931,7.052,14.311,15.818,14.311H237.263c8.766,0,15.817-6.38,15.817-14.311V95.409H163.448C154.748,95.409,147.63,88.969,147.63,81.1ZM42.18,42.934a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77Zm0,38.164a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77ZM169.254,228.982h31.1c5.826,0,10.545,4.27,10.545,9.541s-4.719,9.541-10.545,9.541h-31.1c-10.842,0-20.609-5.45-25.466-14.228a7.455,7.455,0,0,0-6.7-3.888,7.361,7.361,0,0,0-6.6,3.691l-5.055,9.147a10.7,10.7,0,0,1-9.431,5.271c-.25,0-.494-.012-.751-.03A10.389,10.389,0,0,1,106,241.535L94.9,211.445l-6.993,19.01c-3.882,10.531-14.75,17.609-27.022,17.609H52.725c-5.826,0-10.545-4.27-10.545-9.541s4.719-9.541,10.545-9.541h8.166a7.364,7.364,0,0,0,7.012-4.568l11.988-32.582c2.175-5.85,8.2-9.785,15.013-9.785s12.839,3.93,15.007,9.785l9.148,24.83c13.03-9.654,35.622-5.784,43.5,8.444A7.616,7.616,0,0,0,169.254,228.982Zm79.213-166.37L183.944,4.174A16.694,16.694,0,0,0,172.74,0h-4.02V76.327h84.36V72.69A13.612,13.612,0,0,0,248.467,62.612Z" transform="translate(426.92 417.5)" fill="none" stroke="#2a6983" stroke-width="8" />
            <path id="Trazado_76" data-name="Trazado 76" d="M0,18" transform="translate(743.5 555.5)" fill="none" stroke="#2a6983" stroke-width="8" />
            <ellipse id="Elipse_13" data-name="Elipse 13" cx="29.5" cy="12.5" rx="29.5" ry="12.5" transform="translate(685 565)" fill="#e3f2f6" />
            <ellipse id="Elipse_14" data-name="Elipse 14" cx="28" cy="17.5" rx="28" ry="17.5" transform="translate(659 604)" fill="#e3f2f6" />
            <path id="Icon_material-mode-edit" data-name="Icon material-mode-edit" d="M4.5,61.384V76.352H24.561L83.727,32.207,63.666,17.239ZM99.24,20.632a3.313,3.313,0,0,0,0-5.628L86.723,5.664a6.675,6.675,0,0,0-7.543,0l-9.79,7.3L89.451,27.936l9.79-7.3Z" transform="translate(627.348 580.648)" fill="none" stroke="#2a6983" stroke-width="8" />
        </g>
    </svg>    
}
@if (TypeIcon == "ActasExistentes")
{
    <a href="/ReceptionCertificates/Pending">
    <svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 568 563">
    <g id="Grupo_337" data-name="Grupo 337" transform="translate(-1079 -311)">
        <g id="Grupo_21" data-name="Grupo 21" transform="translate(-11 52)">
            <ellipse id="Elipse_4" data-name="Elipse 4" cx="284" cy="281.5" rx="284" ry="281.5" transform="translate(1090 259)" fill="#e3f2f6"/>
            <text id="Existentes" transform="translate(1304 725)" fill="#707070" class="text-5xl" font-family="Helvetica"><tspan x="-20" y="10">Existentes</tspan></text>
        </g>
        <g id="Trazado_75" data-name="Trazado 75" transform="translate(1196 332)" fill="none">
            <path d="M0,0H381V336.31H0Z" stroke="none"/>
            <path d="M 1 0.999969482421875 L 1 335.3100280761719 L 380 335.3100280761719 L 380 0.999969482421875 L 1 0.999969482421875 M 0 -3.0517578125e-05 L 381 -3.0517578125e-05 L 381 336.3100280761719 L 0 336.3100280761719 L 0 -3.0517578125e-05 Z" stroke="none" fill="rgba(0,0,0,0)"/>
        </g>
        <path id="Icon_metro-files-empty" data-name="Icon metro-files-empty" d="M245.657,108.392a266.571,266.571,0,0,0-24.624-29.727,260.872,260.872,0,0,0-28.161-25.992C178.3,41.4,171.238,40.092,167.19,40.092H63.248c-12.46,0-22.6,10.7-22.6,23.852V283.386c0,13.152,10.136,23.852,22.6,23.852h171.73c12.459,0,22.6-10.7,22.6-23.852V135.5c0-4.273-1.235-11.732-11.918-27.109ZM208.251,92.157a256.28,256.28,0,0,1,20.5,24.262H185.267V70.52a251.241,251.241,0,0,1,22.984,21.638ZM239.5,283.386a4.713,4.713,0,0,1-4.519,4.77H63.248a4.713,4.713,0,0,1-4.519-4.77V63.944a4.713,4.713,0,0,1,4.519-4.77H167.19V125.96a9.3,9.3,0,0,0,9.038,9.541H239.5ZM156.718,14.509C142.151,3.232,135.085,1.928,131.036,1.928H27.095c-12.459,0-22.6,10.7-22.6,23.852V245.222c0,11.518,7.775,21.156,18.077,23.372V25.78a4.713,4.713,0,0,1,4.519-4.77H164.613c-2.724-2.361-5.374-4.55-7.9-6.5Z" transform="translate(1255.963 410.418)" fill="none" stroke="#2a6983" stroke-width="8"/>
        <g id="Elipse_8" data-name="Elipse 8" transform="translate(1387 579)" fill="#e3f2f6" stroke="#2a6983" stroke-width="8">
            <ellipse cx="76.5" cy="72" rx="76.5" ry="72" stroke="none"/>
            <ellipse cx="76.5" cy="72" rx="72.5" ry="68" fill="none"/>
        </g>
        <path id="Icon_awesome-list" data-name="Icon awesome-list" d="M13.69,63.869H2.738A2.892,2.892,0,0,0,0,66.893v12.1a2.892,2.892,0,0,0,2.738,3.025H13.69a2.892,2.892,0,0,0,2.738-3.025v-12.1A2.892,2.892,0,0,0,13.69,63.869Zm0-60.494H2.738A2.892,2.892,0,0,0,0,6.4V18.5a2.892,2.892,0,0,0,2.738,3.025H13.69A2.892,2.892,0,0,0,16.428,18.5V6.4A2.892,2.892,0,0,0,13.69,3.375Zm0,30.247H2.738A2.892,2.892,0,0,0,0,36.647v12.1A2.892,2.892,0,0,0,2.738,51.77H13.69a2.892,2.892,0,0,0,2.738-3.025v-12.1A2.892,2.892,0,0,0,13.69,33.622ZM84.878,66.893H30.118a2.892,2.892,0,0,0-2.738,3.025v6.049a2.892,2.892,0,0,0,2.738,3.025h54.76a2.892,2.892,0,0,0,2.738-3.025V69.918A2.892,2.892,0,0,0,84.878,66.893Zm0-60.494H30.118A2.892,2.892,0,0,0,27.38,9.424v6.049A2.892,2.892,0,0,0,30.118,18.5h54.76a2.892,2.892,0,0,0,2.738-3.025V9.424A2.892,2.892,0,0,0,84.878,6.4Zm0,30.247H30.118a2.892,2.892,0,0,0-2.738,3.025v6.049a2.892,2.892,0,0,0,2.738,3.025h54.76a2.892,2.892,0,0,0,2.738-3.025V39.671A2.892,2.892,0,0,0,84.878,36.647Z" transform="translate(1425.922 608.305)" fill="none" stroke="#2a6983" stroke-width="8"/>
    </g>
</svg>
    </a>
}
@if(TypeIcon == "Entrada")
{
    <a href="ReceptionCertificates/Create" class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 437 399">
            <g id="Grupo_335" data-name="Grupo 335" transform="translate(24789 17186)">
                <g id="Grupo_334" data-name="Grupo 334" transform="translate(-25051 -17445)" opacity="0.66">
                    <ellipse id="Elipse_3" data-name="Elipse 3" cx="218.5" cy="199.5" rx="218.5" ry="199.5" transform="translate(262 259)" fill="#e3f2f6" />
                    <text id="Entrada" transform="translate(419 618)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Entrada</tspan></text>
                </g>
                <path id="Icon_metro-enter" data-name="Icon metro-enter" d="M66.179,117.792H4.5V88.826h61.68V59.86l37.008,43.449L66.179,146.758ZM189.539,1.928V190.206l-74.016,43.449V190.206H41.507V132.275H53.843v43.449h61.68V45.377l49.344-28.966H53.843V74.343H41.507V1.928Z" transform="translate(-24667.52 -17104.293)" fill="none" stroke="#2a6983" stroke-width="8" />
            </g>
        </svg>
    </a>
}
@if(TypeIcon == "Salida")                
{
    <a class="">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 437 399">
        <g id="Grupo_335" data-name="Grupo 335" transform="translate(24613 17130)">
            <g id="Grupo_334" data-name="Grupo 334" transform="translate(-24875 -17389)" opacity="0.66">
                <ellipse id="Elipse_3" data-name="Elipse 3" cx="218.5" cy="199.5" rx="218.5" ry="199.5" transform="translate(262 259)" fill="#e3f2f6" />
                <text id="Salida" transform="translate(432 618)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Salida</tspan></text>
            </g>
            <path id="Icon_metro-exit" data-name="Icon metro-exit" d="M150.6,146.759V117.793H88.923V88.827H150.6V59.861l37.008,43.449Zm-12.336-14.483v57.932H76.587v43.449L2.571,190.209V1.928h135.7V74.344H125.931V16.411H27.243L76.587,45.377V175.726h49.344V132.276Z" transform="translate(-24489.59 -17048.293)" fill="none" stroke="#2a6983" stroke-width="8" />
        </g>
    </svg>
    </a>
}