@if (TypeIcon == "Actas")
{
    <a href="/IndexReceptionCertificates">
<svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 568 563">
    <g id="Grupo_336" data-name="Grupo 336" transform="translate(-262 -311)">
        <g id="Grupo_20" data-name="Grupo 20" transform="translate(0 52)">
            <ellipse id="Elipse_3" data-name="Elipse 3" cx="284" cy="281.5" rx="284" ry="281.5" transform="translate(262 259)" fill="#e3f2f6"/>
            <text id="Actas" transform="translate(503 725)" fill="#707070" class="text-5xl" font-family="Helvetica"><tspan x="-10" y="10">Actas</tspan></text>
        </g>
        <path id="Icon_awesome-file-contract" data-name="Icon awesome-file-contract" d="M147.63,81.1V0H15.818C7.052,0,0,6.381,0,14.311V291c0,7.931,7.052,14.311,15.818,14.311H237.263c8.766,0,15.817-6.38,15.817-14.311V95.409H163.448C154.748,95.409,147.63,88.969,147.63,81.1ZM42.18,42.934a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77Zm0,38.164a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77ZM169.254,228.982h31.1c5.826,0,10.545,4.27,10.545,9.541s-4.719,9.541-10.545,9.541h-31.1c-10.842,0-20.609-5.45-25.466-14.228a7.455,7.455,0,0,0-6.7-3.888,7.361,7.361,0,0,0-6.6,3.691l-5.055,9.147a10.7,10.7,0,0,1-9.431,5.271c-.25,0-.494-.012-.751-.03A10.389,10.389,0,0,1,106,241.535L94.9,211.445l-6.993,19.01c-3.882,10.531-14.75,17.609-27.022,17.609H52.725c-5.826,0-10.545-4.27-10.545-9.541s4.719-9.541,10.545-9.541h8.166a7.364,7.364,0,0,0,7.012-4.568l11.988-32.582c2.175-5.85,8.2-9.785,15.013-9.785s12.839,3.93,15.007,9.785l9.148,24.83c13.03-9.654,35.622-5.784,43.5,8.444A7.616,7.616,0,0,0,169.254,228.982Zm79.213-166.37L183.944,4.174A16.694,16.694,0,0,0,172.74,0h-4.02V76.327h84.36V72.69A13.612,13.612,0,0,0,248.467,62.612Z" transform="translate(426.92 417.5)" fill="none" stroke="#2a6983" stroke-width="8"/>
        <path id="Trazado_76" data-name="Trazado 76" d="M0,18" transform="translate(743.5 555.5)" fill="none" stroke="#2a6983" stroke-width="8"/>
        <ellipse id="Elipse_13" data-name="Elipse 13" cx="29.5" cy="12.5" rx="29.5" ry="12.5" transform="translate(685 565)" fill="#e3f2f6"/>
    </g>
</svg>
    </a>
}
@if (TypeIcon == "CreacionActa")
{    
    <svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 568 563">
        <g id="Grupo_334" data-name="Grupo 334" transform="translate(-262 -311)">
            <g id="Grupo_20" data-name="Grupo 20" transform="translate(0 52)">
                <ellipse id="Elipse_3" data-name="Elipse 3" cx="284" cy="281.5" rx="284" ry="281.5" transform="translate(262 259)" fill="#e3f2f6" />
                <text id="Creación" transform="translate(476 724)" fill="#707070" font-family="Helvetica" class="text-5xl"><tspan x="-20" y="10">Creacion</tspan></text>
            </g>
            <path id="Icon_awesome-file-contract" data-name="Icon awesome-file-contract" d="M147.63,81.1V0H15.818C7.052,0,0,6.381,0,14.311V291c0,7.931,7.052,14.311,15.818,14.311H237.263c8.766,0,15.817-6.38,15.817-14.311V95.409H163.448C154.748,95.409,147.63,88.969,147.63,81.1ZM42.18,42.934a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77Zm0,38.164a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77ZM169.254,228.982h31.1c5.826,0,10.545,4.27,10.545,9.541s-4.719,9.541-10.545,9.541h-31.1c-10.842,0-20.609-5.45-25.466-14.228a7.455,7.455,0,0,0-6.7-3.888,7.361,7.361,0,0,0-6.6,3.691l-5.055,9.147a10.7,10.7,0,0,1-9.431,5.271c-.25,0-.494-.012-.751-.03A10.389,10.389,0,0,1,106,241.535L94.9,211.445l-6.993,19.01c-3.882,10.531-14.75,17.609-27.022,17.609H52.725c-5.826,0-10.545-4.27-10.545-9.541s4.719-9.541,10.545-9.541h8.166a7.364,7.364,0,0,0,7.012-4.568l11.988-32.582c2.175-5.85,8.2-9.785,15.013-9.785s12.839,3.93,15.007,9.785l9.148,24.83c13.03-9.654,35.622-5.784,43.5,8.444A7.616,7.616,0,0,0,169.254,228.982Zm79.213-166.37L183.944,4.174A16.694,16.694,0,0,0,172.74,0h-4.02V76.327h84.36V72.69A13.612,13.612,0,0,0,248.467,62.612Z" transform="translate(426.92 417.5)" fill="none" stroke="#2a6983" stroke-width="8" />
            <path id="Trazado_76" data-name="Trazado 76" d="M0,18" transform="translate(743.5 555.5)" fill="none" stroke="#2a6983" stroke-width="8" />
            <ellipse id="Elipse_13" data-name="Elipse 13" cx="29.5" cy="12.5" rx="29.5" ry="12.5" transform="translate(685 565)" fill="#e3f2f6" />
            <ellipse id="Elipse_14" data-name="Elipse 14" cx="28" cy="17.5" rx="28" ry="17.5" transform="translate(659 604)" fill="#e3f2f6" />
            <path id="Icon_material-mode-edit" data-name="Icon material-mode-edit" d="M4.5,61.384V76.352H24.561L83.727,32.207,63.666,17.239ZM99.24,20.632a3.313,3.313,0,0,0,0-5.628L86.723,5.664a6.675,6.675,0,0,0-7.543,0l-9.79,7.3L89.451,27.936l9.79-7.3Z" transform="translate(627.348 580.648)" fill="none" stroke="#2a6983" stroke-width="8" />
        </g>
    </svg>    
}