@if (TypeIcon == "Actas")
{
    <a href="/IndexReceptionCertificates">
    <svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 568 563" class="scale-50 md:scale-75 xl:scale-100">
        <g id="Grupo_334" data-name="Grupo 334" transform="translate(-262 -311)">
            <g id="Grupo_20" data-name="Grupo 20" transform="translate(0 52)">
                <ellipse id="Elipse_3" data-name="Elipse 3" cx="284" cy="281.5" rx="284" ry="281.5" transform="translate(262 259)" fill="#e3f2f6" />
                <text id="Creación" transform="translate(476 724)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Actas</tspan></text>
            </g>
            <path id="Icon_awesome-file-contract" data-name="Icon awesome-file-contract" d="M147.63,81.1V0H15.818C7.052,0,0,6.381,0,14.311V291c0,7.931,7.052,14.311,15.818,14.311H237.263c8.766,0,15.817-6.38,15.817-14.311V95.409H163.448C154.748,95.409,147.63,88.969,147.63,81.1ZM42.18,42.934a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77Zm0,38.164a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77ZM169.254,228.982h31.1c5.826,0,10.545,4.27,10.545,9.541s-4.719,9.541-10.545,9.541h-31.1c-10.842,0-20.609-5.45-25.466-14.228a7.455,7.455,0,0,0-6.7-3.888,7.361,7.361,0,0,0-6.6,3.691l-5.055,9.147a10.7,10.7,0,0,1-9.431,5.271c-.25,0-.494-.012-.751-.03A10.389,10.389,0,0,1,106,241.535L94.9,211.445l-6.993,19.01c-3.882,10.531-14.75,17.609-27.022,17.609H52.725c-5.826,0-10.545-4.27-10.545-9.541s4.719-9.541,10.545-9.541h8.166a7.364,7.364,0,0,0,7.012-4.568l11.988-32.582c2.175-5.85,8.2-9.785,15.013-9.785s12.839,3.93,15.007,9.785l9.148,24.83c13.03-9.654,35.622-5.784,43.5,8.444A7.616,7.616,0,0,0,169.254,228.982Zm79.213-166.37L183.944,4.174A16.694,16.694,0,0,0,172.74,0h-4.02V76.327h84.36V72.69A13.612,13.612,0,0,0,248.467,62.612Z" transform="translate(426.92 417.5)" fill="none" stroke="#2a6983" stroke-width="8" />
            <path id="Trazado_76" data-name="Trazado 76" d="M0,18" transform="translate(743.5 555.5)" fill="none" stroke="#2a6983" stroke-width="8" />
            <ellipse id="Elipse_13" data-name="Elipse 13" cx="29.5" cy="12.5" rx="29.5" ry="12.5" transform="translate(685 565)" fill="#e3f2f6" />
            <ellipse id="Elipse_14" data-name="Elipse 14" cx="28" cy="17.5" rx="28" ry="17.5" transform="translate(659 604)" fill="#e3f2f6" />
            <path id="Icon_material-mode-edit" data-name="Icon material-mode-edit" d="M4.5,61.384V76.352H24.561L83.727,32.207,63.666,17.239ZM99.24,20.632a3.313,3.313,0,0,0,0-5.628L86.723,5.664a6.675,6.675,0,0,0-7.543,0l-9.79,7.3L89.451,27.936l9.79-7.3Z" transform="translate(627.348 580.648)" fill="none" stroke="#2a6983" stroke-width="8" />
        </g>
    </svg>
    </a>
}

@if (TypeIcon == "Historico")
{
    <svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 403 407" class="scale-50 md:scale-75 xl:scale-100">
        <g id="Grupo_336" data-name="Grupo 336" transform="translate(24829 19704)">
            <g id="Grupo_335" data-name="Grupo 335">
                <g id="Grupo_334" data-name="Grupo 334" transform="translate(-24829 -19704)">
                    <ellipse id="Elipse_3" data-name="Elipse 3" cx="201.5" cy="203.5" rx="201.5" ry="203.5" fill="#e3f2f6" />
                    <text id="Historico" transform="translate(134 334)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Historico</tspan></text>
                </g>
            </g>
            <path id="Icon_metro-files-empty" data-name="Icon metro-files-empty" d="M142.394,61.871a150.618,150.618,0,0,0-14.08-16.737,148.33,148.33,0,0,0-16.1-14.635c-8.33-6.349-12.37-7.083-14.685-7.083H38.092a13.2,13.2,0,0,0-12.921,13.43V160.4a13.2,13.2,0,0,0,12.921,13.43h98.2a13.2,13.2,0,0,0,12.921-13.43V77.134c0-2.406-.706-6.606-6.815-15.264ZM121.005,52.73a144.865,144.865,0,0,1,11.722,13.66H107.863V40.547A142.794,142.794,0,0,1,121.005,52.73ZM138.872,160.4a2.672,2.672,0,0,1-2.584,2.686h-98.2a2.672,2.672,0,0,1-2.584-2.686V36.845a2.672,2.672,0,0,1,2.584-2.686H97.527v37.6a5.273,5.273,0,0,0,5.168,5.372h36.177ZM91.539,9.012c-8.33-6.349-12.37-7.083-14.685-7.083H17.419A13.2,13.2,0,0,0,4.5,15.358V138.911A13.334,13.334,0,0,0,14.835,152.07V15.358a2.672,2.672,0,0,1,2.584-2.686H96.053c-1.558-1.33-3.073-2.562-4.514-3.66Z" transform="translate(-24704.354 -19588.379)" fill="none" stroke="#2a6983" stroke-width="6" />
            <g id="Elipse_40" data-name="Elipse 40" transform="translate(-24613 -19475)" fill="#e3f2f6" stroke="#2a6983" stroke-width="6">
                <ellipse cx="34" cy="33" rx="34" ry="33" stroke="none" />
                <ellipse cx="34" cy="33" rx="31" ry="30" fill="none" />
            </g>
            <path id="Trazado_122" data-name="Trazado 122" d="M0,0,4.269,1.765,13.793,5.7l1.97.815" transform="matrix(0.966, 0.259, -0.259, 0.966, -24596.135, -19430.633)" fill="none" stroke="#2a6983" stroke-width="4"></path>
            <path id="Trazado_123" data-name="Trazado 123" d="M29.808,0,0,33.751" transform="matrix(0.996, -0.087, 0.087, 0.996, -24587.977, -19453.631)" fill="none" stroke="#2a6983" stroke-width="4"></path>
        </g>
    </svg>
}
@if (TypeIcon == "CreacionActa")
{    
    <svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 568 563" class="scale-50 md:scale-75 xl:scale-100">
        <g id="Grupo_334" data-name="Grupo 334" transform="translate(-262 -311)">
            <g id="Grupo_20" data-name="Grupo 20" transform="translate(0 52)">
                <ellipse id="Elipse_3" data-name="Elipse 3" cx="284" cy="281.5" rx="284" ry="281.5" transform="translate(262 259)" fill="#e3f2f6" />
                <text id="Creación" transform="translate(476 724)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Creacion Actas</tspan></text>
            </g>
            <path id="Icon_awesome-file-contract" data-name="Icon awesome-file-contract" d="M147.63,81.1V0H15.818C7.052,0,0,6.381,0,14.311V291c0,7.931,7.052,14.311,15.818,14.311H237.263c8.766,0,15.817-6.38,15.817-14.311V95.409H163.448C154.748,95.409,147.63,88.969,147.63,81.1ZM42.18,42.934a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77Zm0,38.164a5.039,5.039,0,0,1,5.272-4.77h52.725a5.039,5.039,0,0,1,5.272,4.77v9.541a5.039,5.039,0,0,1-5.272,4.77H47.452a5.039,5.039,0,0,1-5.272-4.77ZM169.254,228.982h31.1c5.826,0,10.545,4.27,10.545,9.541s-4.719,9.541-10.545,9.541h-31.1c-10.842,0-20.609-5.45-25.466-14.228a7.455,7.455,0,0,0-6.7-3.888,7.361,7.361,0,0,0-6.6,3.691l-5.055,9.147a10.7,10.7,0,0,1-9.431,5.271c-.25,0-.494-.012-.751-.03A10.389,10.389,0,0,1,106,241.535L94.9,211.445l-6.993,19.01c-3.882,10.531-14.75,17.609-27.022,17.609H52.725c-5.826,0-10.545-4.27-10.545-9.541s4.719-9.541,10.545-9.541h8.166a7.364,7.364,0,0,0,7.012-4.568l11.988-32.582c2.175-5.85,8.2-9.785,15.013-9.785s12.839,3.93,15.007,9.785l9.148,24.83c13.03-9.654,35.622-5.784,43.5,8.444A7.616,7.616,0,0,0,169.254,228.982Zm79.213-166.37L183.944,4.174A16.694,16.694,0,0,0,172.74,0h-4.02V76.327h84.36V72.69A13.612,13.612,0,0,0,248.467,62.612Z" transform="translate(426.92 417.5)" fill="none" stroke="#2a6983" stroke-width="8" />
            <path id="Trazado_76" data-name="Trazado 76" d="M0,18" transform="translate(743.5 555.5)" fill="none" stroke="#2a6983" stroke-width="8" />
            <ellipse id="Elipse_13" data-name="Elipse 13" cx="29.5" cy="12.5" rx="29.5" ry="12.5" transform="translate(685 565)" fill="#e3f2f6" />
            <ellipse id="Elipse_14" data-name="Elipse 14" cx="28" cy="17.5" rx="28" ry="17.5" transform="translate(659 604)" fill="#e3f2f6" />
            <path id="Icon_material-mode-edit" data-name="Icon material-mode-edit" d="M4.5,61.384V76.352H24.561L83.727,32.207,63.666,17.239ZM99.24,20.632a3.313,3.313,0,0,0,0-5.628L86.723,5.664a6.675,6.675,0,0,0-7.543,0l-9.79,7.3L89.451,27.936l9.79-7.3Z" transform="translate(627.348 580.648)" fill="none" stroke="#2a6983" stroke-width="8" />
        </g>
    </svg>    
}

@if (TypeIcon == "HistoricoActa")
{
    <svg xmlns="http://www.w3.org/2000/svg" width="403" height="407" viewBox="0 0 403 407" class="scale-50 md:scale-75 xl:scale-100">
        <g id="Grupo_336" data-name="Grupo 336" transform="translate(24829 19704)">
            <g id="Grupo_335" data-name="Grupo 335">
                <g id="Grupo_334" data-name="Grupo 334" transform="translate(-24829 -19704)">
                    <ellipse id="Elipse_3" data-name="Elipse 3" cx="201.5" cy="203.5" rx="201.5" ry="203.5" fill="#e3f2f6" />
                    <text id="Historico" transform="translate(134 334)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Historico Actas</tspan></text>
                </g>
            </g>
            <path id="Icon_metro-files-empty" data-name="Icon metro-files-empty" d="M142.394,61.871a150.618,150.618,0,0,0-14.08-16.737,148.33,148.33,0,0,0-16.1-14.635c-8.33-6.349-12.37-7.083-14.685-7.083H38.092a13.2,13.2,0,0,0-12.921,13.43V160.4a13.2,13.2,0,0,0,12.921,13.43h98.2a13.2,13.2,0,0,0,12.921-13.43V77.134c0-2.406-.706-6.606-6.815-15.264ZM121.005,52.73a144.865,144.865,0,0,1,11.722,13.66H107.863V40.547A142.794,142.794,0,0,1,121.005,52.73ZM138.872,160.4a2.672,2.672,0,0,1-2.584,2.686h-98.2a2.672,2.672,0,0,1-2.584-2.686V36.845a2.672,2.672,0,0,1,2.584-2.686H97.527v37.6a5.273,5.273,0,0,0,5.168,5.372h36.177ZM91.539,9.012c-8.33-6.349-12.37-7.083-14.685-7.083H17.419A13.2,13.2,0,0,0,4.5,15.358V138.911A13.334,13.334,0,0,0,14.835,152.07V15.358a2.672,2.672,0,0,1,2.584-2.686H96.053c-1.558-1.33-3.073-2.562-4.514-3.66Z" transform="translate(-24704.354 -19588.379)" fill="none" stroke="#2a6983" stroke-width="6" />
            <g id="Elipse_40" data-name="Elipse 40" transform="translate(-24613 -19475)" fill="#e3f2f6" stroke="#2a6983" stroke-width="6">
                <ellipse cx="34" cy="33" rx="34" ry="33" stroke="none" />
                <ellipse cx="34" cy="33" rx="31" ry="30" fill="none" />
            </g>
            <path id="Trazado_122" data-name="Trazado 122" d="M0,0,4.269,1.765,13.793,5.7l1.97.815" transform="matrix(0.966, 0.259, -0.259, 0.966, -24596.135, -19430.633)" fill="none" stroke="#2a6983" stroke-width="4"></path>
            <path id="Trazado_123" data-name="Trazado 123" d="M29.808,0,0,33.751" transform="matrix(0.996, -0.087, 0.087, 0.996, -24587.977, -19453.631)" fill="none" stroke="#2a6983" stroke-width="4"></path>
        </g>
    </svg>
}

@if(TypeIcon == "Entrada")
{
    <a href="ReceptionCertificates/Create">
        <svg xmlns="http://www.w3.org/2000/svg" width="437" height="399" viewBox="0 0 437 399">
            <g id="Grupo_335" data-name="Grupo 335" transform="translate(24789 17186)">
                <g id="Grupo_334" data-name="Grupo 334" transform="translate(-25051 -17445)" opacity="0.66">
                    <ellipse id="Elipse_3" data-name="Elipse 3" cx="218.5" cy="199.5" rx="218.5" ry="199.5" transform="translate(262 259)" fill="#e3f2f6" />
                    <text id="Entrada" transform="translate(419 618)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Entrada</tspan></text>
                </g>
                <path id="Icon_metro-enter" data-name="Icon metro-enter" d="M66.179,117.792H4.5V88.826h61.68V59.86l37.008,43.449L66.179,146.758ZM189.539,1.928V190.206l-74.016,43.449V190.206H41.507V132.275H53.843v43.449h61.68V45.377l49.344-28.966H53.843V74.343H41.507V1.928Z" transform="translate(-24667.52 -17104.293)" fill="none" stroke="#2a6983" stroke-width="8" />
            </g>
        </svg>
    </a>
}

@if(TypeIcon == "Salida")                
{
    <svg xmlns="http://www.w3.org/2000/svg" width="437" height="399" viewBox="0 0 437 399">
        <g id="Grupo_335" data-name="Grupo 335" transform="translate(24613 17130)">
            <g id="Grupo_334" data-name="Grupo 334" transform="translate(-24875 -17389)" opacity="0.66">
                <ellipse id="Elipse_3" data-name="Elipse 3" cx="218.5" cy="199.5" rx="218.5" ry="199.5" transform="translate(262 259)" fill="#e3f2f6" />
                <text id="Salida" transform="translate(432 618)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Salida</tspan></text>
            </g>
            <path id="Icon_metro-exit" data-name="Icon metro-exit" d="M150.6,146.759V117.793H88.923V88.827H150.6V59.861l37.008,43.449Zm-12.336-14.483v57.932H76.587v43.449L2.571,190.209V1.928h135.7V74.344H125.931V16.411H27.243L76.587,45.377V175.726h49.344V132.276Z" transform="translate(-24489.59 -17048.293)" fill="none" stroke="#2a6983" stroke-width="8" />
        </g>
    </svg>
}