<div class="bg-[#2B286F] mx-auto h-40 md:m-3 sm:m-1 text-center text-sm-center md:text-md text-white">
    <h1 class="text-xl mb-2">@TitleForm</h1>
    <div class="flex inline grid grid-cols-3  place-items-center">
        <div>
            <div class="flex inline mb-3">
                <label>Nombre</label>
                <input class="ml-2 rounded-lg" type="text" />
            </div>
            <div class="flex inline mb-3">
                <label>Apellido</label>
                <input class="ml-2 rounded-lg" type="text" />
            </div>
            <div class="flex inline">
                <label>RFC</label>
                <input class="ml-2 rounded-lg" type="text" />
            </div>
        </div>
        <div>
            <div class="flex inline mb-3">
                <label>Calle y Numero</label>
                <input class="ml-2 rounded-lg" type="date" />
            </div>
            <div class="flex inline mb-3">
                <label>Colonia</label>
                <input class="ml-2 rounded-lg" type="text" />
            </div>
            <div class="flex inline">
                <label>Apellido</label>
                <input class="ml-2 rounded-lg" type="text" />
            </div>
        </div>
        <div>
            <div class="flex inline mb-3">
                <label>C.P</label>
                <input class="ml-2 rounded-lg" type="text" />
            </div>
            <div class="flex inline mb-3">
                <label>Telefono</label>
                <input class="ml-2 rounded-lg" type="text" />
            </div>
            <div>
                <button @onclick="@(() => OnClick.InvokeAsync())" class="bg-blue-300 rounded-lg h-6 w-full">Existente</button>
            </div>
        </div>
    </div>
</div>