<div id="ComponteInputs" class="flex p-2">
    <div class="flex">  
        <div class="flex">
            <div class="flex flex-col">
                <label for="" class="text-blue-900 mt-2">Material</label>
                <label for="" class="text-blue-900 mt-4">Color</label>
                <label for="" class="text-blue-900 mt-4">Estado General</label>
                <label for="" class="text-blue-900 mt-3">Canitdad</label>
                <label for="" class="text-blue-900 mt-3">Superficie m2</label>
            </div>
            <div class="flex flex-col">
                <input type="text" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2">
                <input type="text" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2">
                <input type="text" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2">
                <input type="number" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2">
                <input type="number" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2">
            </div>
        </div>     
        <div class="mx-5">
            <li class="py-2 flex text-blue-900">Copiar Valores<input type="checkbox" class="border-2 w-1/4"></li>                       
        </div> 
    </div>
</div>