<div id="ContenedorInventario">
    <div id="TablaInventario" class="w-56 text-center bg-slate-400 m-5 rounded-lg" style="height: 70vh;">
        <ul class="bg-slate-400 rounded-lg">
            <li class="py-2 bg-slate-100 text-blue-900 border-1 border-blue-800 rounded-t-lg">Habitaciones</li>
            <li class="py-2 bg-blue-800 text-white border">Entrada</li>
            <li class="py-2 text-white border-1 border-blue-800">Pasillo</li>
            <li class="py-2 text-white border-1 border-blue-800">Baño</li>
            <li class="py-2 text-white border-1 border-blue-800">Recamara</li>
            <li class="py-2 text-white border-1 border-blue-800">Cocina</li>
            <li class="py-2 text-white border-1 border-blue-800">Sala</li>
            <br>
            <li class="mt-40 py-2 text-white border-1 border-blue-800">Medidores</li>
            <li class="py-2 text-white border-1 border-blue-800">Llaves</li>
        </ul>
        <div class="flex justify-center mt-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-dash" viewBox="0 0 16 16">
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
        </div>            
    </div>
</div>