@if (ShowModal)
{
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed overflow-hidden inset-0 z-10 overflow-y-auto my-56">
            <div class="flex lg:min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative mx-auto md:max-w-2xl sm:max-w-sm bg-white lg:h-96 lg:rounded-lg border border-grey-300 drop-shadow-lg border-2 bg-white pb-4">
                    <div class="static">
                        <button @onclick="@(() => OnClick.InvokeAsync())" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-red-600 rounded-full border border-2 ">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </div>
                    <div class="static flex justify-center pt-4">
                        <label for="" class="text-center text-gray-400 text-2xl">Tipo de Acta</label>
                    </div>
                    <div class="md:flex sm:block justify-around m-5">
                        <div class="flex justify-center md:px-20 sm:px-0">                            
                            <button onclick="@RedirectReceptionIn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 437 399">
                                    <g id="Grupo_335" data-name="Grupo 335" transform="translate(24789 17186)">
                                        <g id="Grupo_334" data-name="Grupo 334" transform="translate(-25051 -17445)" opacity="0.66">
                                            <ellipse id="Elipse_3" data-name="Elipse 3" cx="218.5" cy="199.5" rx="218.5" ry="199.5" transform="translate(262 259)" fill="#e3f2f6" />
                                             <text id="Entrada" transform="translate(419 618)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Entrada</tspan></text>
                                        </g>
                                        <path id="Icon_metro-enter" data-name="Icon metro-enter" d="M66.179,117.792H4.5V88.826h61.68V59.86l37.008,43.449L66.179,146.758ZM189.539,1.928V190.206l-74.016,43.449V190.206H41.507V132.275H53.843v43.449h61.68V45.377l49.344-28.966H53.843V74.343H41.507V1.928Z" transform="translate(-24667.52 -17104.293)" fill="none" stroke="#2a6983" stroke-width="8" />
                                    </g>
                                </svg>
                            </button>                            
                        </div>
                        <div class="flex justify-center md:px-20 sm:px-0">
                            <butto onclick="@RedirectReceptionOut">
                                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 437 399">
                                    <g id="Grupo_335" data-name="Grupo 335" transform="translate(24613 17130)">
                                        <g id="Grupo_334" data-name="Grupo 334" transform="translate(-24875 -17389)" opacity="0.66">
                                            <ellipse id="Elipse_3" data-name="Elipse 3" cx="218.5" cy="199.5" rx="218.5" ry="199.5" transform="translate(262 259)" fill="#e3f2f6" />
                                            <text id="Salida" transform="translate(432 618)" fill="#707070" font-size="35" font-family="Helvetica"><tspan x="0" y="0">Salida</tspan></text>
                                        </g>
                                        <path id="Icon_metro-exit" data-name="Icon metro-exit" d="M150.6,146.759V117.793H88.923V88.827H150.6V59.861l37.008,43.449Zm-12.336-14.483v57.932H76.587v43.449L2.571,190.209V1.928h135.7V74.344H125.931V16.411H27.243L76.587,45.377V175.726h49.344V132.276Z" transform="translate(-24489.59 -17048.293)" fill="none" stroke="#2a6983" stroke-width="8" />
                                    </g>
                                </svg>
                            </butto>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}