<nav class="navbar-brand h-20 w-screen bg-[url('/assets/img/navbar.png')]">
    <div class="container-fluid navbarBG flex justify-between">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/logosoft2245.png" class="logo" width="10%">
        </a> 
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="white" class="bi bi-list mt-2" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>      
</nav>

<style>
    .logo { 
        margin: -25px; 
        margin-top: -17px;
        margin-left:0px; 
        width: 150px; 
        height: 120px;
    }
    
    .navbarBG{
        background-image: url(../Assets/nvbar.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 60px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
</style>