<div class="absolute bottom-0 left-0 right-0 flex justify-center">
    <span class="flex border-3 rounded-lg bg-slate-100">
        <button class="py-2 my-1 mx-2 rounded-lg text-blue-900 flex justify-center">
            <g class="flex font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill self-center pr-1" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Primera
            </g>
        </button>
        <button class="py-2 my-1 mx-2 rounded-lg text-blue-900 flex justify-center">
            <g class="flex">
                Anterior
            </g>
        </button>
        <button class="py-2 my-1 mx-2 w-12 h-12 rounded-lg text-blue-900 border-2 border-blue-900 text-blue-900 flex justify-center" style="background-color: #E3F2F6;">
            <g class="flex">
                1
            </g>
        </button>
        <button class="py-2 my-1 mx-2 w-12 h-12 rounded-lg text-blue-900 border-2 border-blue-900 text-blue-900 flex justify-center">
            <g class="flex">
                2
            </g>
        </button>
        <button class="py-2 my-1 mx-2 rounded-lg text-blue-900 flex justify-center">
            <g class="flex">
                Siguiente
            </g>
        </button>
        <button class="py-2 my-1 mx-2 rounded-lg text-blue-900 flex justify-center">
            <g class="flex font-semibold">
                Primera
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill self-center pl-1" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </g>
        </button>
    </span>
</div>