@if (BlobUrl == null)
{
    <div class="row clearfix min-vh-100" style="margin-top: -90px">
        <div style="margin: 0; position: absolute; top: 50%; left: 50%; width: auto; height: auto;">
        <FluentProgressRing style="width: 102px; height: 102px;"></FluentProgressRing>
        </div>
    </div>
}
else
{
    <iframe width="100%" height="100%" src="@BlobUrl" type="application/pdf"></iframe>
}