<div id="ComponenteCambiableEstado" class="flex absolute bottom-72 left-20">
    <div id="ColumBotonesEstado1" class="mx-6 flex flex-col">
        <button class="py-2 my-4 w-48 border rounded-lg text-white shadow-xl" style="background-color: #6AA7B7;">Mal Estado</button>                 
    </div>
    <div id="ColumBotonesEstado2" class="mx-6 flex flex-col">
        <button class="py-2 my-4 w-48 border rounded-lg text-white shadow-xl" style="background-color: #6AA7B7;">Estado Regular</button>                 
    </div>
    <div id="ColumBotonesEstado3" class="mx-6 flex flex-col">
        <button class="py-2 my-4 w-48 border rounded-lg text-white shadow-xl" style="background-color: #6AA7B7;">Buen Estado</button>             
    </div>                
</div>