@if (CurrentBlobFile == null)
{
    <h2>Loading...</h2>
}
else
{
    <EditForm EditContext="CurrentBlobFileEditContext">
        <DataAnnotationsValidator />

        <div class="form-group">
            <InputFile OnChange="@((InputFileChangeEventArgs args) => OnChangeAsync(args))" />
            <ValidationMessage For="() => CurrentBlobFile.BrowserFile" />
            @*<h6>@CurrentBlobFile.Blob.BlodName</h6>*@
            @*<h6>@CurrentBlobFile.Blob.BlobSize</h6>*@     
        </div>
        <div class="h-40 overflow-y-auto">
            @if (CurrentImageFiles?.Count > 0)
            {

                <div class="grid grid-cols-4 gap-1 w-full">
                    @foreach (var imageFile in CurrentImageFiles)
                    {
                        <div><img class="w-20 h-20" src="@imageFile.Base64Content" /></div>
                    }
                </div>
            }
        </div>

    </EditForm>

}