@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

@*<div class="page">*@
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<main>
    <BlazoredToasts Position="ToastPosition.TopRight"
                    Timeout="8"
                    ShowProgressBar="true"/>
    @*<div class="top-row px-4 auth">
    <LoginDisplay />
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>*@

    @*<article class="content px-4">*@
    @Body
    @*</article>*@
</main>
@*</div>*@
