<nav class="fixed inline-flex top-0 h-20 w-screen bg-[#162D4E]">
    <div class="container-fluid navbarBG w-1/2">
        <a class="lg:block navbar-brand " href="/">
            <img src="/assets/img/logoSOF.png" class="logo w-[10%]">
        </a>            
    </div>    
    <div class="w-1/2 my-auto mr-10 flex text-white justify-end">
        <LoginDisplay></LoginDisplay>
    </div>
</nav>
