<nav class="fixed inset-x-0 top-0 bg-cover bg-center bg-no-repeat h-20 w-screen bg-[#162D4E]">
    <div class="container-fluid flex lg:justify-between">
        <div class="hidden lg:block h-20 w-40">
            <a class="navbar-brand " href="/">
                <img src="/assets/img/logoSOF.png" class="logo w-[10%]">
            </a> 
        </div>
        <button type="submit" class="my-auto flex text-white justify-end" @onclick="ChageShowBurguer">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="white" class="bi bi-list mt-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button> 
    </div>    
    @if(ShowBurguer)
    {
        <LoginDisplay CloseBur="CloseBur"></LoginDisplay>
    }
</nav>

@code{
    public bool ShowBurguer { get; set; } = false;
    public void ChageShowBurguer() => ShowBurguer = ShowBurguer ? false : true;
    public void CloseBur() => ShowBurguer = false;
}