<nav class="fixed inset-x-0 top-0 bg-cover bg-center bg-no-repeat h-20 w-screen bg-[#162D4E]">
    <div class="container-fluid flex lg:justify-between">
        <div class="hidden lg:block h-20 w-40">
            <a class="navbar-brand " href="/">
                <img src="/assets/img/logoSOF.png" class="logo w-[10%]">
            </a> 
        </div>
        <div class="my-auto mr-10 flex text-white justify-end">
            <LoginDisplay></LoginDisplay>
        </div>
    </div>    
</nav>
